body {
    margin: 0;
    background-color: rgb(39, 39, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;

}


.title {
    margin: 20px 20px 5px 20px;
    font-weight: 700;
    font-size: 30px;
}

.left {
    color: white;
    display: flex;
    font-family: 'Poppins';
    width: 520px;
    height: 400px;
    border: solid 1px;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0.336);
    flex-direction: column;
}

.boards {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}

.board-right {
    gap: 10px;
    height: 300px;
}

.board-left {
    gap: 5px;
    height: 300px;
}

.inputs-form {
    padding-inline-start: 10px;
    background-color: rgb(39, 39, 42);
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    font-size: 15px;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.336);

}

.inputs-form:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.adjust-inputs {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(138, 18, 42);
    border: none;
    font-family: 'Poppins';
    color: white;
}

.button:hover {
    background-color: rgb(128, 18, 40);
}

.button:active {
    transform: translate(2px, 2px);
}

.status {
    padding-inline-start: 10px;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Poppins';
    background-color: rgb(39, 39, 42);
    font-size: 15px;
    border-color: rgba(255, 255, 255, 0.336);
}

.status:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.status option {
    background-color: rgb(66, 66, 66);
}

.visibility {
    visibility: hidden;
}

.margin {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adjust-pass {
    display: flex;
}

.adjust-label {
    display: flex;
    flex-direction: column;
}

.error-pass {
    display: flex;
    justify-content: center;
    color: red;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    height: 537px;
    width: 570px;
    overflow: auto;
    display: flex;
    flex-direction: column;

}

.table thead tr {
    background-color: rgb(66, 66, 66);
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid rgb(66, 66, 66);
}

.switch{
    display: inline-block;
    width: 43px;
    height: 24px;
    position: relative;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: gray;
}


.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.background::before{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 6px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: white;
}

.switch input:checked + .background{
    background-color: #509f1f;
}

.switch input:checked + .background::before{
    transform: translateX(16px);
}

.filter {
    padding-inline-start: 10px;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Poppins';
    background-color: rgb(39, 39, 42);
    font-size: 12px;
    border-color: rgba(255, 255, 255, 0.336);
}

.box-filter {
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

}

.boards-adjust {
    display: flex;
    align-items: center;
    gap: 120px;
}

::-webkit-scrollbar{
    background-color: #27272a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(131, 131, 131, 0.158);
    border-radius: 10px;

}
